.card{
    outline: none;
    border: none;
    margin: 0% !important;
}
img{
    height: 20vh;
    width: 200px !important;
    border: 3px solid black;
    border-radius: 20px;
}
.card2 img{
    height: 50vh;
}
